@import "../../variables.scss";

.boton{
    position: relative;
    padding: 5px;
    width: $boton-menu-width;
    height: $boton-menu-height;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
}
.fondo{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: rgba(5,5,5,.5);
    z-index: 1;
    transition: all .5s ease;
}
.transparente{
    background: transparent;
}
.aside{
    position: absolute;
    top:0;
    left: 0;
    width: $aside-width;
    height: $aside-height;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    box-shadow: $aside-shadow-left $aside-shadow-bottom $aside-shadow-blur $aside-shadow-spread $aside-shadow-color;
    transition: all .5s ease;
    &.cerrado{
        left: -$aside-width;
        box-shadow: none;
    }
    ul{
        list-style: none;
        padding: 0;
    }
}
.asideIzquierda{
    position: absolute;
    top:0;
    right: 0;
    width: $aside-width;
    height: $aside-height;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    box-shadow: -$aside-shadow-left $aside-shadow-bottom $aside-shadow-blur $aside-shadow-spread $aside-shadow-color;
    transition: all .5s ease;
    &.cerrado{
        right: -$aside-width;
        box-shadow: none;
    }
    ul{
        list-style: none;
        padding: 0;
    }
}
.none{
    display: none;
}