//aside
$boton-menu-width: 5vmin;
$boton-menu-height: 2vmin;
$aside-width: 30vmin;
$aside-height: 100vh;
$aside-shadow-left: 5px;
$aside-shadow-bottom: 0px;
$aside-shadow-blur: 5px;
$aside-shadow-spread: 0px;
$aside-shadow-color:rgba(0,0,0,0.75);


